* {
    font-family: 'Kanit', sans-serif;
}

.container {
  overflow: hidden;
  padding: 0;
  background-color: #131a2d;
}

/*****************HEADER********************/
nav#header-nav {
  border-radius: 0;
  border: none;
  width: 100%;
  margin: 75px 0 0;
}
.container .navbar-header {
  border-bottom: 2px solid #888;
  width: 100%;
  padding: 5px 15px;
}

/***Brand***/
.navbar-brand {
  padding: 1.2% 0;
  vertical-align: middle;
}
.navbar-brand h1 {
  position: static;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  color: #000;
  margin: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand h1:hover, .navbar-brand h1:focus {
  color: #313131;
}
.navbar-brand h4 {
  margin: 0;
  color: #000;
  text-transform: uppercase;
  text-align: right;
}

/***Dropdown navigation***/
#collapsable-nav {
  z-index: 1090;
  position: fixed;
  background-color: #131a2d;
  height: 75px;
  border-bottom: 1px solid #e0d3bd;
  margin: 0 auto;
}
#nav-list {
  width: 100%;
}
#nav-list a {
  color: #e0d3bd;
  text-align: center;
  font-size: 1.2em;
}
#nav-list a > span {
  margin-right: 6px;
}
#nav-list a:hover, #nav-list a:focus {
  border: none;
  text-shadow: 0 1px 13px #ffffff;
  color: #ece2cf;
}

/***Menu button***/
.navbar-header > button {
  margin: 6px 0;
  padding: 10px;
}
.navbar-toggle .icon-bar {
  width: 30px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  box-shadow: inset 0 0 10px #131a2d;
}
.navbar-header button.navbar-toggle:hover {
  background-color: #e0d3bd;
}

/*************END - HEADER********************/

/***Phone button***/
#phone {
  font-size: 1.1em;
}
#call {
  box-shadow: inset 0 0 15px #131a2d;
  border-radius: 5px;
  margin: 15px;
  background-color: #ffffff;
}
a.btn {
    font-size: 2.1em;
    color: #000;
    display: block;
}
.btn span {
    font-size: .7em;
    margin-right: 6px;
}
#call:hover, #call:focus {
  background-color: #e0d3bd;
}

/****************Main Page******************/

/***Working hours***/
#page > p {
  font-style: italic;
  font-size: 1.2em;
  border-bottom: 1px dotted #313131;
  padding-bottom: 18px;
}

h2 {
  padding: 20px 0;
  color: #d0c4ab;
  clear: both;
  margin: 0;
}
h3 {
  text-transform: uppercase;
}
p, h3 {
  color: #e0d3bd;
  text-align: center;
}
.item > img {
  width: 100%;
}
div > #page {
  margin: 15px;
}

/***jumbotron***/
.container div.jumbotron {
  background-color: #ffffff;
  padding: 15px 0 0;
  margin: 0;
  border-radius: 0;
}
.img-responsive img {
  width: 100%;
}

.gh-ico {
  margin-bottom: 15px;
}

/************END - Main Page*****************/

/***i-frame map***/
#map-tile {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 40px 0;
  padding-top: 15px;
}
#map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.7em;
  background-color: rgba(19,26,45,.75);
  color: #e0d3bd;
  line-height: 1.6;
}

/***horizontal rules***/
hr {
  margin: 0;
  border: 0;
  border-bottom: 1px dotted #313131;
  background: #313131;
}
footer hr {
  margin: 0;
  border: 0;
  border-bottom: 1px dotted #131a2d;
}

/*******************All work******************/
.works {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 15px auto;
}
.works > span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-size: 1.2em;
  background-color: rgba(19,26,45,.75);
  color: #e0d3bd;
  line-height: 1.6;
}
.works:hover, .works:focus {
  box-shadow: 0 0 15px #ffffff;
  box-sizing: 1.1;
}
/*******************END All work******************/

/*******************Footer************************/
footer.panel-footer {
  padding: 0;
  margin: 0;
  border: none;
  color: #e0d3bd;
}
.panel-footer > div.container {
  background-color: #37383a;
}
.panel-footer > div.container > div {
  padding-top: 15px;
}
h6 {
  font-size: 1.3em;
}
footer .container div > a {
  padding-bottom: 15px;
  padding-left: 30px;
  display: inline-block;
  text-align: center;
  color: #e0d3bd;
  font-size: 1em;
}
footer div a:hover, footer div a:focus {
  text-decoration: none;
  text-shadow: 0 1px 13px #ffffff;
  color: #ece2cf;
}
footer a > img {
  height: 25px;
  width: 25px;
  margin-right: 7px;
}
#feedback p {
  font-style: italic;
  font-size: 1.1em;
}
#feedback p:nth-child(2) {
  margin-top: 30px;
}
div.copyright {
  padding: 15px;
  color: #131a2d;
  font-size: 1.3em;
}
/***************END - Footer*******************/

/*************MEDIA QUERIES*************/
/***mobile - xxs***/
@media (max-width: 479px) {
  #header-nav.navbar {
    clear: both;
    height: 60px;
    margin: 0;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  .navbar-brand {
    float: left !important;
    padding: 0;
  }
  .navbar-brand h1{
    font-size: 1.7em;
    line-height: 1.1;
  }
  .navbar-brand h4 {
    font-size: .65em;
    margin: 0;
  }
  #collapsable-nav {
    height: initial;
    border-bottom: 1px dotted #e0d3bd;
    width: 100%;
    top: 60px;
  }
  h2 {
    font-size: 1.4em;
  }
  .works {
    position: relative;
    overflow: hidden;
    width: 280px;
    margin: 0 auto 15px;
  }
  div.copyright {
    font-size: 4vw;
  }
}

/***mobile - xs***/
@media (min-width: 480px) and (max-width: 767px) {
  #header-nav.navbar {
    clear: both;
    height: 60px;
    margin: 0;
  }
  .navbar-brand {
    float: left !important;
    padding: 0;
  }
  .navbar-brand h1{
    font-size: 1.8em;
    line-height: 1.1;
  }
  .navbar-brand h4 {
    font-size: .7em;
    margin: 0;
  }
  #collapsable-nav {
    height: initial;
    border-bottom: 1px dotted #e0d3bd;
    width: 100%;
    top: 60px;
  }
  h2 {
    font-size: 1.7em;
  }
}

/***small***/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand h1 {
    font-size: 3em;
  }
  .navbar-brand h4 {
    font-size: .85em;
  }
  nav, #collapsable-nav {
    width: 750px;
  }
  #logo-img {
    background: url('../images/ico-small.png') no-repeat;
    width: 94px;
    height: 88px;
  }
  #collapsable-nav {
    top: 0 !important;
  }
}

/***medium***/
@media (min-width: 992px) and (max-width: 1199px) {
  nav, #collapsable-nav {
    width: 970px;
  }
  #logo-img {
    background: url('../images/ico.png') no-repeat;
    width: 124px;
    height: 116px;
  }
  .navbar-brand h1 {
    font-size: 4.2em;
    margin: 0;
  }
  #collapsable-nav {
    top: 0 !important;
  }
}

/***large***/
@media (min-width: 1200px) {
  nav, #collapsable-nav {
    width: 1170px;
  }
  #logo-img {
    background: url('../images/ico.png') no-repeat;
    width: 124px;
    height: 116px;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-brand h1 {
    font-size: 4.8em;
  }
  #collapsable-nav {
    top: 0 !important;
  }
}
/*************END - Media Queries*************/
